
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.csprojAssemblyReference.cache
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.pdb
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.dll
CompanyData/bin/Debug/netcoreapp3.1/CompanyData.pdb
CompanyData/bin/Debug/netcoreapp3.1/CompanyData.dll
CompanyData/.vs/CompanyData/v16/.suo
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.pdb
CompanyData/bin/Debug/netcoreapp3.1/CompanyData.dll
CompanyData/bin/Debug/netcoreapp3.1/CompanyData.pdb
CompanyData/.vs/CompanyData/v16/.suo
CompanyData/bin/Debug/netcoreapp3.1/CompanyData.dll
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.csproj.CoreCompileInputs.cache
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.csprojAssemblyReference.cache
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.dll
CompanyData/obj/Debug/netcoreapp3.1/CompanyData.pdb
